@media(max-width: 991px){
    .navbar-collapse{
        flex-basis: auto;
        flex-grow: inherit;
    }
    .navbar-nav .nav-link{
        padding: 10px;
    }
    .hero-text h2{
        font-size: 45px;
        color: #fff;
    }
    .sub-papers p{
        color: #ddd;
    }
    .apply-btn-banner{
        background-color: #ffa800;
    }
    .hero-text h2 span{
        font-size: 35px;
    }
    .sub-papers span{
        font-size: 12px;
    }
    .spec-img{
        display: none;
    }
    .spec-content-inner{
        margin: 25px 0;
    }
    .spec-content-inner h1{
        text-align: center;
        margin-left: 0;
    }
    .spec-content-inner h1::after{
        left: 50%;
        transform: translate(-50%);
    }
    .course-card-img{
        width: 100%;
        height: 220px;
    }
    .course-card-content{
        width: 100%;
    }
    .navbar-brand img{
        max-width: 270px;
    }
    .nav-item-sm{
        display: none;
    }
    .fixed-top{
        background-color: #fff;
    }
    .hero::before{
        opacity: -0.2;
        background: #1374e4;
    }
    .text-left-767{
        display: none;
    }
    .hero-text{
        top: 90%;
    }
    .course-offer{
        margin-top: 400px;
        padding-bottom: 100px;
    }
    .course-offer-box{
        min-height: 251px;
        margin-bottom: 30px;
    }
    .column-top-first, .column-top-3{
        top: 0;
    }
    .column-top-4{
        top: 0;
    }
    .column-top-5{
        top: 0;
    }
    .about-content p{
        margin-bottom: 30px;
    }
    .about-img-area .first-img img{
        width: 100%;
    }
    .about-img-area .second-img img{
        width: 100%;
    }
    .contact-area .align-items-center{
        align-items: unset;
    }
    .address{
        margin-bottom: 50px;
    }
}

@media(max-width: 767px){
    .course-offer{
        margin-top: 530px;
    }
    .call-area{
        margin-bottom: 50px;
    }
    .hero:after{
        display: none;
    }
    .hero-text{
        padding-top: 40px;
    }
    .text-left-767{
        text-align: left !important;
    }
    .hero img{
        margin: 25px 0;
    }
    .contact-img{
        margin-top: 20px;
    }
    .form-box form{
        display: block;
    }
    form input.inp{
        margin-bottom: 10px;
    }
    .course-section{
        margin-top: 170px;
    }
    .about-content{
        padding-top: 20px;
    }
    .banner-form .enq-form{
        padding: 20px 10px 40px;
    }
    .modal-left{
        width: 100%;
        height: 350px;
    }
    .modal-right{
        padding: 40px 30px 60px;
        width: 100%;
        display: block;
        height: auto;
    }
    .modal-body button.close{
        top: 10px;
    }
    .modal-body button.close i{
        background: #fff;
    }
    .modal-heading{
        display: none;
    }
    .modal-header-767{
        display: block !important;
        position: absolute;
        color: #fff;
        top: 52px;
        left: 50%;
        z-index: 9999;
        transform: translate(-50%,-50%);
    }
    .modal-header-767 h3{
        color: #fff;
        font-size: 30px;
        font-weight: 700;
    }
    .contact-area{
        height: 700px;
    }
    .main-contact{
        display: flex;
        flex-direction: column;
    }
    .map{
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }
    .map iframe{
        width: 100%;
        height: 350px;
    }
    .address-area{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .about-area{
        padding-bottom: 70px;
    }
    .second-img.d-none-767{
        display: none;
    }
    .visat-offers{
        display: block !important;
        padding: 60px 0;
        background-color: #fff;
    }
}

@media(max-width: 576px){
    .navbar-brand img{
        max-width: 200px;
    }
    .apply-btn{
        margin-right: 0;
    }
    .navbar-nav li a{
        font-size: 12px;
        padding: 6px 15px;
    }
    .navbar{
        padding: .5rem;
    }
    .hero-text{
        top: 50%;
    }
    .placement-content-img{
        display: none;
    }
    .our-specialities h2{
        font-size: 1.8rem;
    }
    .testi-box .test-photo{
        flex-wrap: wrap;
    }
    .fac-content{
        margin-bottom: 30px;
    }
    .testi-box .test-photo img{
        margin-bottom: 20px;
    }
    .about-header .colo-blue{
        font-size: 2rem;
    }
    .about-img-area .second-img img{
        height: 150px;
    }
    .second-img-text h5{
        margin-bottom: 10px;
    }
}

@media(max-width: 430px){
    .about-box{
        width: 300px;
        height: 300px;
    }
    .about-box:after{
        width: 200px;
        height: 200px;
    }
    .course-header h2{
        font-size: 1.8rem;
    }
}

@media(max-width:368px){
    .navbar-nav li a{
        font-size: 12px;
    }
    .navbar-brand img{
        max-width: 200px;
    }
    .sub-papers span{
        font-size: 10px;
    }
}

@media(min-width:576px) and (max-width:767px){
    .modal-dialog{
        max-width: 500px;
    }
}

@media(min-width: 768px){
    .res-768{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex: 100%;
    }
}