/* web fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800|Poppins:300,400,500,600,700,800,900");

/* Global CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #777;
    background-color: #f3f5f8;
}

.all-area {
    overflow: hidden;
}

section,
.section {
    position: relative;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.container-fluid {
    padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #12337e;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #2a2a2a;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #ed695a;
}

a:hover {
    color: #00cff2;
}

a,
a:hover,
a:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

ol,
ul {
    margin: 0;
    padding: 0;
}

ol li,
ul li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-prev:focus,
.owl-next:focus {
    outline: none;
}

.text-capitalize{
    text-transform: capitalize;
}

/* Button */
.btn {
    background: #000;
    color: #ffffff;
    border-radius: 0;
    font-weight: 600;
    font-size: 14px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.default-btn {
    letter-spacing: 1px;
    padding: 10px 45px;
    background: #003c7c;
    display: inline-block;
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

.nav-btn{
    background: #ed695a;
}



.button:focus{
    outline: 0;
}

.btn:hover{
    color: #fff;
    background:#032244;
}

.nav-btn:hover{
    color: #003c7c;
    background: #ed695a;
}

/* Padding */
.ptb_100{
    padding: 100px 0;
}

/* Header Area */

.navbar-brand img{
    /* max-width: 170px; */
}

.navbar-sticky{
        position: fixed;
        width: 100%;
        height: 100px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.15);
        box-shadow: 0 0 30px 1px rgba(0, 0, 0, 0.15);
        border-bottom: none;
        z-index: 1000 !important;
}

.apply-btn{
    background-color: #ffa800;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 15px 35px;
    font-size: 16px;
    font-weight: 400;
    margin-right: 1rem !important;
}

.nav-item-sm{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}

.nav-item-sm img{
    padding: 0 10px;
}

.nav-item-sm a.btn-number{
    color: #fff;
    font-size: 19px;
    letter-spacing: 1px;
    padding: 0 20px;
    border-left: 1px solid #fff;
    font-weight: 600;
}

.nav-item-sm a span{
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
}

.navbar-sticky .nav-item-sm{
    background-color: #0c63c7;
    border-radius: 5px;
}

/* Banner section */
.hero{
    position: relative;
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #f9fafb;
    z-index: 999;
    background-image: url(../img/banner/01-overlay.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 730px;
}

.hero::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/banner/banner-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-text{
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero-text h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 35px;
}

.sub-papers{
    max-width: 400px;
}

.sub-papers p{
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.apply-btn-banner{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 400;
    background: #0c63c7;
    margin-top: 50px;
}

/* Enq form section */
.banner-form{
    position: absolute;
    width: 100%;
    margin-top: -70px;
    z-index: 999;
}

.form-box{
    background: #fff;
    padding: 20px 30px 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
    border-radius: 5px;
}

.form-box h2{
    color: #0c63c7;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 25px;
}

.form-box form{
    display: flex;
}

.form-box .form-control{
    background: #f1f0f0;
    height: 60px;
    padding: .375rem .9rem;
    color: #000;
    margin-bottom: 20px;
    border: transparent;
}

.form-box .form-btn-style{
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #e72a45;
    color: #fff;
    transition: all .3s ease;
}

.form-box .form-btn-style:hover{
    background-color: #7e1020;
}

.small-box{
    background: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
    border-radius: 5px;
    min-height: 190px;
    margin-top: 52px;
}

.small-box h4{
    color: #111;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 10px;
}

.small-box .secondh4{
    margin-bottom: 20px;
}

.small-box img{
    max-width: 100px;
}

.course-offer{
    margin-top: 175px;
    padding-bottom: 240px;
    position: relative;
}

.course-offer::before{
    position: absolute;
    content: "";
    background-image: url(../img/bg/course_undere.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    opacity: 0.9;
    bottom: 0;
}

.fact-counter{
    position: relative;
}

.column-top-first,
.column-top-3{
    position: relative;
    top: 95px;
}

.column-top-4{
    position: relative;
    top: 245px;
}

.column-top-5{
    position: relative;
    top: 95px;
}

.course-offer-box{
    background-color: #fff;
    padding: 40px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
}

.course-offer-box-1{
    padding-top: 92px;
}

.course-offer-box.course-offer-box-1 h4{
    font-size: 35px;
}

.course-offer-box-cs{
    padding-top: 55px;
}

.course-offer-box-blue{
    background-color: #1377ea;
    padding-bottom: 48px;
}

.course-offer-box-yellow{
    background-color: #ffa800;
}

.course-offer-box-red{
    background-color: #e72a45;
}

.course-offer-box-blue h4,
.course-offer-box-yellow h4,
.course-offer-box-red h4{
    color: #fff;
}


.course-offer-box h4{
    font-size: 20px;
}

.course-offer-box img{
    max-width: 70px;
    margin-bottom: 20px;
}


/* About section */
.about-area{
    position: relative;
    background-color: #ffffff;
    /* margin-top: 100px; */
}

.about-header{
    position: relative;
    margin-bottom: 45px;
}

.about-header .colo-red{
    color: #e62a45;
}

.about-header .colo-blue{
    color: #12337e;
    position: relative;
}

.about-header .colo-blue:before{
    position: absolute;
    content: "";
    background-color: #e62a45;
    height: 5px;
    width: 20%;
    left: 0;
    bottom: -15px;
    border-radius: 5px;
}

.about-content h3{
    color: #1062c0;
    font-size: 22px;
    margin-bottom: 25px;
}

.about-content p{
    color: #2a2a2a;
    font-size: 16px;
    font-weight: 500;
}

.about-img-area .first-img{
    position: relative;
    margin-bottom: 30px;
}

.about-img-area .second-img{
    position: relative;
}

.about-img-area .second-img img{
    border-radius: 10px;
    position: relative;
}

.second-img-text{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
}

.second-img-text h5{
    color: #fff;
    font-size: 1.5rem;
}

.second-img-text ul li{
    margin-bottom: 5px;
}

.second-img-text ul li a{
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #fff;
}



.about-img-area .first-img img{
    position: relative;
}

.first-img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-icon{
    text-align: center;
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
    cursor: pointer;
}

.img-icon i{
    color: #fff;
}

.img-text{
    text-align: center;
    font-size: 20px;
}

.img-text span{
    color: #fff;
}
/* Specialities section */
.our-specialities{
    background-color: #f7f9fb;
    padding: 60px 0 100px;
}

/* Testimonials section */
.testi-heading{
    margin-bottom: 60px;
}

.testi-sub {
    text-transform: uppercase;
    font-size: 13px;
    color: #385777;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    padding-left: 50px;
    display: inline-block;
}

.testi-sub:before{
    position: absolute;
    content: "";
    left: 0px;
    width: 40px;
    height: 2px;
    background: #ed695a;
    top: 0px;
    bottom: 0px;
    margin: auto 0px;
}

.testi-heading h3{
    font-size: 36px;
}

.single-testi {
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px -2px hsla(0, 0%, 0%, 0.15);
    box-shadow: 0 0 5px -2px hsla(0, 0%, 0%, 0.15);
    border-radius: 10px;
    margin-top: 40px !important;
}

.single-test-box{
    display: flex;
    flex-wrap: nowrap;
}

/* .rec-box{
    padding: 10px 15px;
    box-shadow: 0 0 5px -2px hsl(0deg 0% 0% / 15%);
    background: #fff;
    border: 1px solid;
} */


.single-testi .client-info{
    margin-bottom: 25px;
    border-radius: 14px;
    padding: 40px 30px 30px 40px;
    position: relative;
    border: 1px solid #eee;
    border-top: 2px solid #ed695a;
}

.rating{
    margin-top: 10px;
}

.client-info p{
    line-height: 33px;
    font-size: 18px;
    margin: 20px 0;
}

.client-details{
    display: flex;
    align-items: center;
}

.client-details .client-img{
    width: 90px;
    height: 90px;
    margin-left: 15px;
}

.client-details .client-img img{
    border-radius: 100%;
}

.client-name{
    margin-left: 20px;
}

.client-name p{
    color: #ed695a;
}

.owl-nav{
    display: block !important;
    position: absolute;
    top: -46px;
    right: 0;
}

.owl-nav button{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 15%);
    background: #fff;
    background: #fff !important;
}

.owl-nav button i{
    font-size: 25px;
    color: #c3cedd;
}

.owl-prev{
    font-size: 50px
}

.icon-testi{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 2px solid #ed695a;
    margin-bottom: 15px;
    text-align: center;
}

.icon-testi i{
    color: #ed695a;
    font-size: 25px;
}


/* Contact Area */
.contact-area{
    background-color: #0a376b;
}

.branch-head{
    margin-bottom: 50px;
}

.branch-head h3{
    font-size: 36px;
    position: relative;
}

.branch-head h3:after{
    content: "";
    background: #ed695a;
    width: 8%;
    height: 4px;
    display: block;
    position: absolute;
    bottom: -8px;
}

.contact-area ul{
    margin-top: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: .5s ease-in-out
}

.contact-area ul:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.contact-area ul li span.branch-name{
    color: #003c7c;
    font-size: 20px;
}

.contact-area ul li:nth-child(2),
.contact-area ul li:nth-child(3){
    margin-bottom: 15px;
}

.branch-address{
    font-size: 16px;
    padding: 10px 0;
}

.branch-contact{

}

/* Footer */
.footer-bg{
    background-color: #082f5c !important;
}

.copyright-area{
    padding: 30px 0px;
    width: 100%;
    text-align: center;
}

.copyright-area p{
    color: #ddd;
}

.copyright-area a{
    color: rgba(255,255,255,.8);
}

.copyright-area a img{
    max-width: 100px;
}

.footer-btn{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-btn a{
    background: #ed695a;
}

/* Popup */
.modal{
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0,.7);
}

.modal-dialog{
    max-width: 900px;
}
.modal-title{
    font-size: 35px;
    font-weight: 700;
}

.modal-content, .modal-body{
    border: 0;
    padding: 0;
    border-radius: 0;
}

.modal-left{
    width: 50%;
    float: left;
    height: 480px;
    background: url(../img/bg/contact.jpeg) center no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 60px;
}

.modal-left .overlay{
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-right{
    width: 50%;
    float: left;
    height: 480px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 60px;
}

.modal-right form{
    width: 100%;
}

.modal-right form .form-group{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.modal-right input{
    float: left;
    height: 45px;
    width: 100%;
    border: 0;
    outline: none;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-radius: 0;
    padding: .375rem 0;
}

.modal-heading{
    position: absolute;
    top: 0;
    padding: 25px;
}

.modal-heading h3{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-body button.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    z-index: 9999;
}

.modal-body button.close i{
    font-size: 15px;
    border: 1px solid #ed695a;
    padding: 10px;
    border-radius: 50%;
    background: #ed695a;
}

/* Placement Area */

.placement-area{
    background-color: #ffffff;
}

.placement-area-row{
    align-items: flex-end;
}

.count-box-default{
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    min-height: 164px;
    display: flex;
    align-items: center;
}

.count-box-default h2{
    font-size: 25px;
}

.count-box-default span{
    font-size: 48px;
    font-weight: 500;
}

.count-box{
    border: 1px solid #c3cedd;
    padding: 30px 15px;
    margin-bottom: 20px;
}

.count-box h2{
    color: #e72a45;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.count-box span{
    color: #12337e;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}

.placement-content{
    display: flex;
    align-items: center;
}

.placement-content-img{
    margin-right: 40px;
}

.placement-content-text h1{
    margin-bottom: 35px;
    position: relative;
}

.placement-content-text h1:before{
    position: absolute;
    content: "";
    background-color: #e72a45;
    height: 5px;
    width: 20%;
    left: 0;
    bottom: -15px;
    border-radius: 5px;
}

.placement-content-text p{
    font-size: 19px;
    max-width: 380px;
    line-height: 30px;
}

/* facilities-area */
.facilities-area{
    padding: 80px 0;
    background-image: url(../img/facilities/facilities-bg.jpg);
    background-position: center;
    background-size: cover;
}

.fac-content h3{
    color: #fff;
    margin-bottom: 30px;
}

.fac-content ul li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.fac-content ul li>div:first-child{
    margin-right: 15px;
    width: 50px;
}

.fac-content ul li div h5{
    color: #fff;
}

.fac-content svg path{
    fill: #dc9f1e;
}

.testi-box{
    background: #084489;
    padding: 40px 40px 100px;
    border-radius: 10px;
    opacity: .8;
}

.testi-box .test-photo{
    display: flex;
    margin-bottom: 50px;
    align-items: flex-end;
}

.testi-box .test-photo img{
    border-radius: 10px;
    margin-right: 15px;
}

.testi-box .test-photo h4,
.testi-box .test-photo span{
    color: #fff;
}

.testi-contents{
    position: relative;
}

.testi-contents p{
    color: #fff;
    font-size: 20px;
    position: relative;
    line-height: 35px;
}

.testi-contents img{
    position: relative;
    top: -15px;
}

.testi-box-slider .owl-nav{
    display: none !important;
}

.testi-box-slider .owl-dots{
    display: block;
    position: absolute;
    bottom: 50px;
    left: 40px;
}

.testi-box-slider .owl-dots button.active{
    background: orange;
    border: 1px solid;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.testi-box-slider .owl-dots button{
    background-color: #c3cedd;
    border: 1px solid;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.gallery-images{
    margin-top: 50px;
}

.gallery-images img{
    margin-bottom: 25px;
}

.map{
    width: 100%;
    position: relative;
}

.map iframe{
    width: 100%;
    height: 630px;
}

.address p{
    color: #cdcdcd;
    font-size: 17px;
    line-height: 28px;
}

.call-area h2{
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
}

.call-area a{
    color: #fff;
}

.call-area h3{
    font-size: 20px;
    color: #fff;
}

.call-area img{
    max-width: 25px;
}

.footer-apply-btn{
    background: #ffa800;
    color: #fff;
    padding: 15px 60px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
}